*{margin: 0; padding: 0;}
a{text-decoration: none;}
li{list-style: none;}

.wrap {
    width: 600px;
    border: 1px solid red;
}

.wrap>div {
    height: 100px;
    border: 1px solid blue;
}

.top {
    display: flex;
}

.top>div{
    width: 50%;
    border: 1px solid green;
}

.top-right{
    display: flex;
}

.top-right div {
    width: 50%;
    border: 1px solid rgb(0, 0, 0);
}
.mid {
    display: flex;
}

.mid>div {
    width: 50%;
}

.mid-left {
    display: flex;
}

.mid-left>div {
    width: 50%;
    border: 1px solid black;
}
.mid-right {
   
}

.mid-right>div {
    height:50%;
    border: 1px solid black;
}
.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center
}
.bottom>div {
    background-color: lightcoral;
    width: calc(100% / 3 - 10px);
    height: 100%;
}

.bottom>div:nth-of-type(2) {
    height: 50%;
}